<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/personDetails.css') }}">

   
   {% if title %}
        <title>Gumshuda - {{ title }}</title>
    {% else %}
        <title>Gumshuda</title>
    {% endif %}
</head>

<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('welcome')}}" class="brand-logo left">गुमशुदा</a>
        <ul id="nav-mobile" class="right">
          <li class="active"><a href="{{url_for('home')}}">Home</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{url_for('logout')}}">Logout</a></li>
          {% else %} 
            <li><a href="{{url_for('login')}}">Login</a></li>
          {% endif %}  
        </ul>
      </div>
    </nav>
     <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="waves-effect waves-light btn {{category}}"> 
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          
        </div>
  </div>

{% block content %}
{% endblock %}

  <footer class="page-footer">
    <div class="container center">
    
    <div class="footer-copyright">
      <div class="container">
        © गुमशुदा Copyright Text
      </div>
    </div>
  </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>


